<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--映射的配置，namespace设置为接口的包名+类名-->
<mapper namespace="com.qianfeng.mybatis.dao.CommentMapper">

    <!--配置结果映射 id是名称 type是映射的Java类型-->
    <resultMap id="commentMap" type="com.qianfeng.mybatis.entity.Comment">
        <!--配置主键 property配置Java类的属性名 column表的列名 javaType配置属性类型，jdbcType字段类型-->
        <id property="comment_id" column="comment_id"></id>
        <!--配置一般的列-->
        <result property="time" column="time"></result>
        <result property="stars" column="stars"></result>
        <result property="content" column="content"></result>
        <result property="user_id" column="user_id"></result>
        <result property="nanny_id" column="nanny_id"></result>
        <!--配置一对一的用户对象-->
        <association property="user" column="user_id" select="com.qianfeng.mybatis.dao.UserMapper.selectById"></association>
    </resultMap>

    <select id="selectCommentsByUserId" parameterType="int" resultMap="commentMap">
        select * from tb_comment where user_id=#{userId}
    </select>
   <select id="selectById" parameterType="int" resultMap="commentMap">
    select * from tb_comment where comment_id=#{comment_id}
   </select>
</mapper>